#Run from project root folder
output = ./target/fuzzy-octo-shame.graphml
classpath = ./target/fuzzy-octo-shame-0.1.11-SNAPSHOT.jar
exclude = java*.**
exclude = scala.**
exclude = org.scalatest.**
part = {
    com.jed.*.(*).**
}
lib = {
    com.jed.(*).**
    *.(*).**
}
internalExternal = {
   internal com.jed.**
   external **
}
